.container {
  width: 50%;
  padding: 0.2em;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 2px 3px 10px 1px rgba(194, 194, 194, 1);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnal {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.2em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
